apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: flux-image-toolkit-extra
rules:
- apiGroups: [""]
  resources:
    - secrets
    - events
  verbs:
    - get
    - list
    - watch
    - create
    - patch
    - update
- apiGroups: ["source.toolkit.fluxcd.io"]
  resources:
    - gitrepositories
  verbs:
    - get
    - list
    - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: flux-image-toolkit-extra-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: flux-image-toolkit-extra
subjects:
- kind: ServiceAccount
  name: default
  namespace: flux-system